
body
{
    background-image: url("3.png");
    font-size: 26px;
    font-style: oblique;
    
   } 
{margin:25px;}

div.polaroid {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
 
h1 {
    color: black;
    text-align: center;
    font-family: Georgia;
    font-size: 38px;
   
 
    
}

h2 {
    color: rgb(158, 6, 6);
    font-family: courier;
    font-size: 35px;
    text-align: center;
    font-size:3vw;
    border-style: double;
    border-width: 15px;

 
}
h3 {
    color: rgb(136, 52, 4);
    font-family: courier;
    font-size: 32px;
    text-align: center;
    font-size:3vw;
    border-style: double;
    border-width: 15px;

}
h4 {
    color: rgb(117, 100, 0);
    font-family: courier;
    font-size: 30px;
    border-style: double;
    border-width: 15px;
    text-align: center;
    font-size:3vw;
}
h5 {
    color: rgb(43, 107, 0);
    font-family: courier;
    font-size: 29px;
    border-style: double;
    border-width: 15px;
    text-align: center;
    font-size:3vw;
}
h6 {
    color: rgb(20, 165, 170);
    font-family: courier;
    font-size: 27px;
    border-style: double;
    border-width: 15px;
    text-align: center;
    font-size:3vw;
}
a{
    color: rgb(17, 180, 230);
    text-shadow: 3px 2px rgb(235, 3, 204);
    font-size: 27px;
    font-family: courier;
    background-color:rgb(0, 0, 0);
}
